<!-- Provincial View -->
{% if area in provinces %}
    <div class="row">
        {% for t in trend_cards %}
            <div class="col-lg-6 col-md-6 mb-2">
                <div class="card bg-{{ t.colour.split('-')[1] }} shadow text-light text-center">
                    <div class="card-body">
                        <div class="h5 mb-1 text-uppercase">
                            <i class="{{ t.icon }} me-1"></i>{{ _(t.title) }}
                        </div>

                        <div>
                            <span class="h6 text-gray-800 mb-0">{{ t.count }}</span>
                            <span class="h6 text-gray-800 mb-0"><i class="{{ t.status_icon }}"></i></span>
                            <span class="h6 text-gray-800 mb-0">{{ t.percentage_difference|safe }}</span>
                        </div>

                        <p class="small mb-0">
                            <small class="font-weight-light">{{ _("Yesterday: ") }}&nbsp;{{ t.yesterday_count }}</small>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-6 col-xl-6 mb-2">
            <div class="card shadow">
                <div id="chart-trend-cum" class="container-fluid px-0"
                     style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card shadow">
                <div id="chart-trend-daily" class="container-fluid px-0"
                     style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
            </div>
        </div>

    </div>

    <!-- National/Regional views -->
{% else %}
    <!-- Tabs -->
    <ul class="nav nav-pills nav-justified small mb-1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="nav-daily-tab" data-bs-toggle="pill" href="#daily" role="tab"
               aria-controls="nav-daily" aria-selected="true">{{ _("Daily") }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-item nav-link" id="nav-current-tab" data-bs-toggle="pill" href="#current" role="tab"
               aria-controls="nav-current" aria-selected="false">{{ _("Current") }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-item nav-link" id="nav-cum-tab" data-bs-toggle="pill" href="#cum" role="tab"
               aria-controls="nav-cum" aria-selected="false">{{ _("Cumulative") }}</a>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="nav-daily-tab">
            <div class="row">
                {% for t in trend_cards %}
                    {% if t.type == "daily" %}
                        <div class="col-lg col-md- mb-2">

                            <div class="card bg-{{ t.colour.split('-')[1] }} shadow text-light text-center">
                                <div class="card-body">
                                    <div class="h5 mb-1 text-uppercase">
                                        <i class="{{ t.icon }} me-1"></i>{{ _(t.title) }}
                                    </div>
                                    <div>
                                        <span class="h6 text-gray-800">{{ t.count }}</span>
                                        <span class="h6 text-gray-800"><i class="{{ t.status_icon }}"></i></span>
                                        <span class="h6 text-gray-800">{{ t.percentage_difference|safe }}</span>
                                    </div>
                                    <small class="font-weight-light">{{ _("Yesterday: ") }}&nbsp;{{ t.yesterday_count }}</small>
                                </div>
                            </div>

                            {% if breakdown[t.id] %}
                                {% set ns = namespace(found=false) %}
                                {% for data_type, data in breakdown.items() %}
                                    {% if data_type == t.id %}
                                        {% set ns.found=true %}
                                        <div class="accordion"
                                             id="areasAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header"
                                                    id="flush-areas">
                                                    <button class="accordion-button collapsed"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-{{ t.id }}"
                                                            aria-expanded="false"
                                                            aria-controls="flush-{{ t.id }}" style="height: 20px">
                                                        <small>{{ _("See more...") }}</small>
                                                    </button>
                                                </h2>
                                                <div id="flush-{{ t.id }}"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="flush-areas"
                                                     data-bs-parent="#areasAccordion">
                                                    <div class="accordion-body">
                                                        <table class="table table-sm table-striped table-responsive bg-light text-center small">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th scope="col"> {{ _("Area") }} </th>
                                                                <th scope="col">{{ _("Count") }}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for d in breakdown[t.id] %}
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ d.url }}"> {{ d.area }}</a>
                                                                    </td>
                                                                    <td>{{ d.count }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div id="chart-trend-daily" class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="nav-current-tab">
            <div class="row">
                {% for t in trend_cards %}
                    {% if t.type == "current" %}
                        <div class="col-lg col-md- mb-2">

                            <div class="card bg-{{ t.colour.split('-')[1] }} shadow text-light text-center">
                                <div class="card-body">
                                    <div class="h5 mb-1 text-uppercase">
                                        <i class="{{ t.icon }} me-1"></i>{{ _(t.title) }}
                                    </div>
                                    <div>
                                        <span class="h6 text-gray-800">{{ t.count }}</span>
                                        <span class="h6 text-gray-800"><i class="{{ t.status_icon }}"></i></span>
                                        <span class="h6 text-gray-800">{{ t.percentage_difference|safe }}</span>
                                    </div>
                                    <small class="font-weight-light">{{ _("Yesterday: ") }}&nbsp;{{ t.yesterday_count }}</small>
                                </div>
                            </div>

                            {% if breakdown[t.id] %}
                                {% set ns = namespace(found=false) %}
                                {% for data_type, data in breakdown.items() %}
                                    {% if data_type == t.id %}
                                        {% set ns.found=true %}
                                        <div class="accordion"
                                             id="areasAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header"
                                                    id="flush-areas">
                                                    <button class="accordion-button collapsed"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-{{ t.id }}"
                                                            aria-expanded="false"
                                                            aria-controls="flush-{{ t.id }}" style="height: 20px">
                                                        <small>{{ _("See more...") }}</small>
                                                    </button>
                                                </h2>
                                                <div id="flush-{{ t.id }}"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="flush-areas"
                                                     data-bs-parent="#areasAccordion">
                                                    <div class="accordion-body">
                                                        <table class="table table-sm table-striped table-responsive bg-light text-center small">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th scope="col"> {{ _("Area") }} </th>
                                                                <th scope="col">{{ _("Count") }}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for d in breakdown[t.id] %}
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ d.url }}"> {{ d.area }}</a>
                                                                    </td>
                                                                    <td>{{ d.count }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div id="chart-trend-current" class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="cum" role="tabpanel" aria-labelledby="nav-cum-tab">
            <div class="row">
                {% for t in trend_cards %}
                    {% if t.type == "cum" %}
                        <div class="col-lg col-md- mb-2">

                            <div class="card bg-{{ t.colour.split('-')[1] }} shadow text-light text-center">
                                <div class="card-body">
                                    <div class="h5 mb-1 text-uppercase">
                                        <i class="{{ t.icon }} me-1"></i>{{ _(t.title) }}
                                    </div>
                                    <div>
                                        <span class="h6 text-gray-800">{{ t.count }}</span>
                                        <span class="h6 text-gray-800"><i class="{{ t.status_icon }}"></i></span>
                                        <span class="h6 text-gray-800">{{ t.percentage_difference|safe }}</span>
                                    </div>
                                    <small class="font-weight-light">{{ _("Yesterday: ") }}&nbsp;{{ t.yesterday_count }}</small>
                                </div>
                            </div>

                            {% if breakdown[t.id] %}
                                {% set ns = namespace(found=false) %}
                                {% for data_type, data in breakdown.items() %}
                                    {% if data_type == t.id %}
                                        {% set ns.found=true %}
                                        <div class="accordion"
                                             id="areasAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header"
                                                    id="flush-areas">
                                                    <button class="accordion-button collapsed"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-{{ t.id }}"
                                                            aria-expanded="false"
                                                            aria-controls="flush-{{ t.id }}" style="height: 20px">
                                                        <small>{{ _("See more...") }}</small>
                                                    </button>
                                                </h2>
                                                <div id="flush-{{ t.id }}"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="flush-areas"
                                                     data-bs-parent="#areasAccordion">
                                                    <div class="accordion-body">
                                                        <table class="table table-sm table-striped table-responsive bg-light text-center small">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th scope="col"> {{ _("Area") }} </th>
                                                                <th scope="col">{{ _("Count") }}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for d in breakdown[t.id] %}
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ d.url }}"> {{ d.area }}</a>
                                                                    </td>
                                                                    <td>{{ d.count }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div id="chart-trend-cum" class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endif %}



<script>
    let seriesDaily = {{ series.daily|safe }};
    let seriesCurrent = null;
    {% if area not in provinces %}
        seriesCurrent = {{ series.current|safe }};
    {% endif %}
    let seriesCum = {{ series.cum|safe }};
    let xAxis = {
        categories: {{ series.dates|safe }},
        plotLines: [
            {
                color: 'rgba(255,0,0)',
                width: 1,
                value: 27,
                label: {
                    text: "{{ gettext("Lockdown") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgba(252,115,3)',
                width: 1,
                value: 70,
                label: {
                    text: "{{ gettext("Phase 2") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(0,255,0)',
                width: 1,
                value: 112,
                label: {
                    text: "{{ gettext("Phase 3") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(255,0,0)',
                width: 1,
                value: 256,
                label: {
                    text: "{{ gettext("Critical areas") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(255,0,0)',
                width: 1,
                value: 307,
                label: {
                    text: "{{ gettext("Vaccine day") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            }
        ]
    };
    let yAxis = {
        title: {
            text: "{{ gettext("Counts") }}"
        }
    };
    let title = {
        align: "left"
    };
    {% if not area %}
        title.text = "{{ gettext("Italy") }}"
    {% else %}
        title.text = "{{ area }}"
    {% endif %}
    let subtitle = {
        text: "{{ gettext("Source: <a href='https://github.com/pcm-dpc/COVID-19'>Civil Protection dataset</a>") }}",
        align: "left"
    };
    let credits = {
        href: "https://fabriziomiano.github.io",
        text: "{{ gettext("by Fabrizio Miano | Made with Highcharts.com") }}"
    };
</script>
