<!-- Chart -->

<div class="row">

    {% if area not in provinces %}
        <div class="col-12">
            <ul class="nav nav-pills nav-justified mb-1">
                <li class="nav-item" role="presentation">
                    <a class="nav-item nav-link active"
                       id="nav-chart-daily-tab"
                       data-bs-toggle="tab" href="#chart-daily" role="tab"
                       aria-controls="nav-daily"
                       aria-selected="true">{{ _("DAILY") }}</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-item nav-link" id="nav-chart-current-tab"
                       data-bs-toggle="tab" href="#chart-current" role="tab"
                       aria-controls="nav-current"
                       aria-selected="false">{{ _("CURRENT") }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-item nav-link" id="nav-chart-cum-tab"
                       data-bs-toggle="tab" href="#chart-cum" role="tab"
                       aria-controls="nav-cum"
                       aria-selected="false">{{ _("CUMULATIVE") }}</a>
                </li>
            </ul>

            <div class="card shadow" id="chartCard">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="chart-daily"
                         role="tabpanel" aria-labelledby="nav-daily-tab">
                        <div id="chart-trend-daily"
                             class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="chart-current"
                         role="tabpanel"
                         aria-labelledby="nav-current-tab">
                        <div id="chart-trend-current"
                             class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="chart-cum" role="tabpanel"
                         aria-labelledby="nav-chart-cum-tab">
                        <div id="chart-trend-cum" class="container-fluid px-0"
                             style="border: none; width:100%; height: 450px; margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% else %}

        <div class="col-md-6 col-xl-6 mb-2">
            <div class="card shadow">
                <div id="chart-trend-cum" class="container-fluid px-0"
                     style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card shadow">
                <div id="chart-trend-daily" class="container-fluid px-0"
                     style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
            </div>
        </div>

    {% endif %}

</div>

<script>
    let seriesDaily = {{ series.daily|safe }};
    let seriesCurrent = null;
    {% if area not in provinces %}
        seriesCurrent = {{ series.current|safe }};
    {% endif %}
    let seriesCum = {{ series.cum|safe }};
    let xAxis = {
        categories: {{ series.dates|safe }},
        plotLines: [
            {
                color: 'rgba(255,0,0)',
                width: 1,
                value: 27,
                label: {
                    text: "{{ gettext("Lockdown") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgba(252,115,3)',
                width: 1,
                value: 70,
                label: {
                    text: "{{ gettext("Phase 2") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(0,255,0)',
                width: 1,
                value: 112,
                label: {
                    text: "{{ gettext("Phase 3") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(255,0,0)',
                width: 1,
                value: 256,
                label: {
                    text: "{{ gettext("Critical areas") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            {
                color: 'rgb(255,0,0)',
                width: 1,
                value: 307,
                label: {
                    text: "{{ gettext("Vaccine day") }}",
                    style: {
                        fontWeight: 'bold'
                    }
                }
            }
        ]
    };
    let yAxis = {
        title: {
            text: "{{ gettext("Counts") }}"
        }
    };
    let title = {
        align: "left"
    };
    {% if not area %}
        title.text = "{{ gettext("Italy") }}"
    {% else %}
        title.text = "{{ area }}"
    {% endif %}
    let subtitle = {
        text: "{{ gettext("Source: <a href='https://github.com/pcm-dpc/COVID-19'>Civil Protection dataset</a>") }}",
        align: "left"
    };
    let credits = {
        href: "https://fabriziomiano.github.io",
        text: "{{ gettext("by Fabrizio Miano | Made with Highcharts.com") }}"
    };
</script>
