# python compiled
*.pyc
__pycache__/

# ide stuff
.idea
.vscode

# node modules
node_modules/

# images
*.png

# notebooks
*.ipynb

# git / github stuff
.git/
.github/
*.gitignore
*.md
LICENSE
docs/
previews/

# misc
*.log
*.json
*.bat
*.sh
