APPLICATION_ENV=development
HOST=0.0.0.0
COVIDASHIT_PORT=5050
COVIDASH_SQL_PORT=5433
PREFECT_UI_PORT=8080
PREFECT_UI_API_URL=https://prefect.covidash.it/api
POSTGRES_USER=covidash
POSTGRES_PASSWORD=covidash
POSTGRES_DB=covidash
DATABASE_URL=postgresql+psycopg://covidash:covidash@postgres:5432/covidash
CORS_ORIGINS=http://localhost:5173,http://localhost:5050,http://covidash.it
FRONTEND_DIST=frontend/dist
FORWARDED_ALLOW_IPS=*
