# python compiled
*.pyc
__pycache__

# virtual env
.venv*

# ide stuff
.idea
.vscode

# assets cache
covidashit/static/.webassets-cache/
covidashit/static/bundles

# log files
*.log

# env vars
.env

# translations
*.pot