# python compiled
*.pyc
__pycache__

# virtual env
.venv*
.tools/

# ide stuff
.idea
.vscode

# assets cache
covidashit/static/.webassets-cache/
covidashit/static/bundles

# log files
*.log

# env vars
.env

# translations
*.pot

# frontend generated output
frontend/node_modules/
frontend/dist/
