<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">500</h1>
                            <p class="lead">Internal Server Error</p>
                            <a href="/"><i class="fas fa-arrow-left mr-1"></i>Return to Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>
