<!-- Cards -->
<div class="row">
    {% for t in trend %}
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <i class="{{ t.fa }} fa-2x mr-2"></i>
                                {{ _(t.title) }}
                                <i class="fas fa-info-circle text-black-50" data-toggle="tooltip"
                                   data-placement="auto"
                                   data-original-title="{{ _(t.longdesc) }}">
                                </i>
                            </div>
                            <div class="h4 mb-0 font-weight-bold text-gray-8000">{{ t.count }}</div>
                        </div>
                        <div class="col-auto">
                            <div class="text-xs">

                                {% if t.status== "happy" %}
                                    <strong class="text-success">
                                        <i class="fas fa-long-arrow-alt-down fa-4x" data-toggle="tooltip"
                                           data-placement="auto"
                                           data-original-title="{{ _('Decreased with respect to yesterday') }}">
                                        </i>
                                    </strong>
                                {% elif t.status == "sad" %}
                                    <strong class="text-danger">
                                        <i class="fas fa-long-arrow-alt-up fa-4x" data-toggle="tooltip"
                                           data-placement="auto"
                                           data-original-title="{{ _('Increased with respect to yesterday') }}">
                                        </i>
                                    </strong>
                                {% else %}
                                    <strong class="text-info">
                                        <i class="fas fa-minus fa-4x" data-toggle="tooltip" data-placement="auto"
                                           data-original-title="{{ _('Stable with respect to yesterday') }}">
                                        </i>
                                    </strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>