<!-- Cards -->
<div class="row">
    {% for t in trend_cards %}
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">

                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <i class="{{ t.icon }} fa-2x mr-2"></i>
                                {{ _(t.title) }}
                                <i class="fas fa-info-circle text-black-50" data-toggle="tooltip"
                                   data-placement="auto"
                                   data-original-title="{{ _(t.longdesc) }}">
                                </i>
                            </div>
                            <div class="h4 mb-0 font-weight-bold text-gray-8000">{{ t.count }}</div>
                        </div>

                        <div class="col-auto">
                            <div class="text-xs">
                                <strong class="{{ t.colour }}">
                                    <i class="{{ t.status_icon }} fa-4x" data-toggle="tooltip" data-placement="auto"
                                       data-original-title="{{ t.tooltip }}">
                                    </i>
                                </strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>