<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="COVID-19 Italian outbreak data visualization">
    <meta name="author" content=""/>
    <meta property="og:title" content="COVIdash-it"/>
    <meta property="og:url" content="https://covidashit.herokuapp.com/"/>
    <meta property="og:description" content="COVID-19 Italy outbreak data visualization">
    <meta property="og:image" content="https://covidashit.herokuapp.com/static/corona.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image" content="https://covidashit.herokuapp.com/static/corona.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="400"/>
    <title>{{ pagetitle }}</title>
    <link rel="apple-touch-icon" href="../static/corona.png" sizes="180x180">
    <link rel="icon" href="../static/corona.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../static/corona.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="../static/corona.png" color="#563d7c">
    <link rel="icon" href="../static/corona.png">
    <link href="../static/css/styles.css" rel="stylesheet"/>
</head>

<body class="sb-nav-fixed">

<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INFO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h6 text-uppercase">How to use</p>
                <p class="text-justify small">
                    Toggle on/off series (bottom of the chart)
                </p>
                <hr>
                <p class="h6 text-uppercase" id="exampleModalLabel">How to read</p>
                <p class="text-justify small">
                    <b>DEFAULT:</b> Linear-scale of
                    <br>"New positive", "Total positive variation", and "Intensive care unit".
                <ul class="list-group small">
                    <li class="list-group-item">The "Total positive" series is the cumulative sum of:
                        <br>"Hospitalized with symptoms" + "Intensive care unit" + "Self isolation"
                    </li>
                    <li class="list-group-item">Red/green arrows indicate an increase/decrease w.r.t. yesterday</li>
                </ul>
                </p>
                <hr>
                <p class="text-lg-center text-uppercase text-danger">
                    <b>Keep calm and stay at home</b>
                </p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" onclick=" window.open('https://fabriziomiano.github.io','_blank')">
                    Who made this?
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
                <p class="small text-center"><b>NOTE:</b> Only the "Total cases" series is provided for the provinces.</p>
            </div>
        </div>
    </div>
</div>


<!-- Navbar -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-first order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/national"><img src="../static/corona.png" alt="" width="32" height="32">
        &nbsp;
        {% if not region %}
            {{ pagetitle }}
        {% else %}
            {{ region }}
        {% endif %} </a>
</nav>

<!-- Main layout -->
<div id="layoutSidenav">

    <!-- Sidebar nav -->
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="/national">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <div class="sb-sidenav-menu-heading">Navigate</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegionLayouts"
                       aria-expanded="false" aria-controls="collapseRegionLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                        Regions
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseRegionLayouts" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested small nav">
                            {% for region in regions %}
                                <a class="nav-link" href="/regions/{{ region }}">{{ region }}</a>
                            {% endfor %}
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProvinceLayouts"
                       aria-expanded="false" aria-controls="collapseProvinceLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                        Provinces
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseProvinceLayouts" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested small nav">
                            {% for province in provinces %}
                                <a class="nav-link" href="/provinces/{{ province }}">{{ province }}</a>
                            {% endfor %}
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Extra</div>
                    <a class="nav-link"
                       href="http://www.protezionecivile.gov.it/"
                       target="_blank">
                        <div class="sb-nav-link-icon"><i class="far fa-newspaper"></i></div>
                        CP News</a>
                    <a class="nav-link" href="https://github.com/pcm-dpc/COVID-19" target="_blank">
                        <div class="sb-nav-link-icon"><i class="fab fa-github"></i></div>
                        CP Repo</a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Days since lockdown: {{ lockdown_days }}</div>
            </div>
        </nav>
    </div>

    <!-- page content -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!-- Cards -->
                <div class="row mt-4">
                    {% for t in trend %}
                        <div class="col-xl-4 mb-4">
                            <div class="card border-left-primary shadow h-100 ">
                                <div class="card-header font-weight-bold text-primary text-uppercase mb-1">
                                    {{ t.title }}
                                </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col auto">
                                            <div class="h1 mb-0 font-weight-bold text-gray-800">{{ t.count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            {% if t.status== "happy" %}
                                                <strong class="text-success">
                                                    <i class="fas fa-long-arrow-alt-down fa-5x"></i>
                                                </strong>
                                            {% elif t.status == "neutral" %}
                                                <strong><i class="fas fa-minus fa-5x"></i></strong>
                                            {% else %}
                                                <strong class="text-danger">
                                                    <i class="fas fa-long-arrow-alt-up fa-5x"></i>
                                                </strong>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h6 class="small text-info text-capitalize">{{ t.desc }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Chart -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card border-left-primary shadow mb-4">
                            <div class="card-header"><i class="fas fa-chart-line mr-2"></i>Trend | {% if region %}
                                {{ region }} {% elif province %} {{ province }} {% else %} National {% endif %}</div>
                            <div class="card-body">
                                <div id="{{ chartID|safe }}" class="chart" style=""></div>
                                <script>
                                    let chart_id = {{ chartID|safe }};
                                    let series = {{ series|safe }};
                                    let title = {{ title|safe }};
                                    let xAxis = {{ xAxis|safe }};
                                    let yAxis = {{ yAxis|safe }};
                                    let chart = {{ chart|safe }};
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="../static/js/scripts.js?ts={{ ts }}"></script>
<script src="../static/js/main.js?ts={{ ts }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
