<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145119708-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-145119708-3');
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ _("COVID-19 Italy outbreak data visualization") }}">
    <meta name="author" content="Fabrizio Miano"/>
    <meta property="og:title" content="{{ _("COVID-19 Italy Monitor") }}"/>
    <meta property="og:url" content="https://covidashit.herokuapp.com/"/>
    <meta property="og:description" content="{{ _("COVID-19 Italy outbreak data visualization") }}">
    <meta property="og:image" content="https://covidashit.herokuapp.com/static/coronasketch.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:locale:alternate" content="it_IT"/>
    <title>{{ _(pagetitle) }}</title>
    <link rel="apple-touch-icon" href="../static/virussketch.png" sizes="180x180">
    <link rel="icon" href="../static/virussketch.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../static/virussketch.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="../static/virussketch.png" color="#563d7c">
    <link rel="icon" href="../static/virussketch.png">
    <link href="../static/css/styles.css" rel="stylesheet"/>
</head>