<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../static/corona.png" sizes="180x180">
    <link rel="icon" href="../static/corona.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../static/corona.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="../static/corona.png" color="#563d7c">
    <link rel="icon" href="../static/corona.png">
    <meta name="theme-color" content="#563d7c">

    {% block head %}
        <title>{% block title %} COVID-19 Italian trend {% endblock %}</title>
    {% endblock %}
</head>

<body>
<div class="text-center">
    <img class="mb-4" src="../static/corona.png" alt="" width="64" height="64">
</div>
<div class="container fluid col-md-10" id={{ chartID|safe }} class="chart"
     style=""></div>
<p align="center"> Real-time data source: <a
        href="https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-andamento-nazionale.json">
    Protezione Civile </a></p>
<script>
    let chart_id = {{ chartID|safe }};
    let series = {{ series|safe }};
    let title = {{ title|safe }};
    let xAxis = {{ xAxis|safe }};
    let yAxis = {{ yAxis|safe }};
    let chart = {{ chart|safe }};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>