<!-- Main layout -->
<div id="layoutSidenav">

    {% include 'sidebar.html' %}
    <!-- page content -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

                <!-- Breadcrumb -->
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item active">
                        <i class="fas fa-bullhorn mr-2"></i>{{ _("Latest Update:") }} {{ latest_update }}
                    </li>
                </ol>

                {% include 'cards.html' %}
                {% include 'charts.html' %}

            </div>
        </main>
    </div>
</div>