<!-- Sidebar nav -->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">{{ _("Usage") }}</div>
                <div class="container-fluid">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#welcomeModal">
                        <i class="fas fa-info-circle"></i> {{ _("How to") }}
                    </button>
                </div>

                <div class="sb-sidenav-menu-heading">{{ _('Visualization') }}</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    {{ _('National Data') }}
                </a>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegionLayouts"
                   aria-expanded="false" aria-controls="collapseRegionLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    {{ _('Regional Data') }}
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseRegionLayouts" aria-labelledby="headingOne"
                     data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav small">
                        {% for region in regions %}
                            <a class="nav-link" href="/regions/{{ region }}">{{ region }}</a>
                        {% endfor %}
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProvinceLayouts"
                   aria-expanded="false" aria-controls="collapseProvinceLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    {{ _('Provincial Data') }}
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseProvinceLayouts" aria-labelledby="headingOne"
                     data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav small">
                        {% for province in provinces %}
                            <a class="nav-link" href="/provinces/{{ province }}">{{ province }}</a>
                        {% endfor %}
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">{{ _('Credits') }}</div>
                <a class="nav-link"
                   href="https://fabriziomiano.github.io/"
                   target="_blank">
                    <div class="sb-nav-link-icon"><i class="far fa-address-card"></i></div>
                    {{ _('Author') }}</a>

                <div class="sb-sidenav-menu-heading">Extra</div>
                <a class="nav-link"
                   href="http://www.protezionecivile.gov.it/"
                   target="_blank">
                    <div class="sb-nav-link-icon"><i class="far fa-newspaper"></i></div>
                    {{ _('CPD News') }}</a>
                <a class="nav-link" href="https://github.com/pcm-dpc/COVID-19" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fab fa-github"></i></div>
                    {{ _('CPD Repository') }}</a>
            </div>
        </div>


        <!-- footer sidebar-->
        <div class="sb-sidenav-footer">
            <div class="small">{{ _('Days since lockdown') }}: {{ lockdown_days }}
                <a href="https://twitter.com/hashtag/italiachiusa"
                   target="_blank"> {{ _("#italiachiusa on Twitter") }}</a>
            </div>
        </div>
    </nav>
</div>
