<!-- bar chart race -->
<div class="row">
    {% for var in bcr_types %}
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-left-primary shadow mb-3" id="bcrCard{{ var }}">
                <div class="card-header"><i class="fas fa-chart-bar mr-2"></i>
                    {{ vars_config[var]["title"] }}
                </div>
                <div class="alert alert-success small" role="alert" id="bcrts{{ var }}"
                     hidden>
                    <i class="fas fa-bullhorn mr-2"></i>
                    {{ _("Latest Update:") }}
                </div>

                <button type="buttON" class="btn btn-info"
                        id="loadBCRButton{{ var }}" onclick="playBCR('{{ var }}')">
                    <i class="fas fa-play mr-2"></i> {{ _("Play bar-chart race") }}
                </button>
                <button class="btn btn-primary" type="button"
                        id="loadBCRButtonLoader{{ var }}" disabled hidden>
                    <span class="spinner-border spinner-border-sm"
                          role="status" aria-hidden="true"></span>
                    {{ _("Loading...") }}
                </button>
            </div>
        </div>
    {% endfor %}
</div>
