<!-- Cards -->

<nav class="nav-pills nav-justified">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-daily-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="nav-daily" aria-selected="true">{{ _("DAILY") }}</a>
        {% if area not in provinces %}
            <a class="nav-item nav-link" id="nav-current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="nav-current" aria-selected="false">{{ _("CURRENT") }}</a>
        {% endif %}
        <a class="nav-item nav-link" id="nav-cum-tab" data-toggle="tab" href="#cum" role="tab" aria-controls="nav-cum" aria-selected="false">{{ _("CUMULATIVE") }}</a>
    </div>
</nav>

<div class="tab-content mb-4" id="nav-tabContent">
    <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="nav-daily-tab">
        <div class="row">
            {% for t in trend_cards %}
                {% if t.type == "daily" %}
                    <div class="col-lg">
                        <div class="card border-left-{{ t.colour.split('-')[1] }} shadow h-100" data-toggle="modal" data-target="#ModalCenter_{{ t.id }}">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="h6 mb-0 {{ t.colour }} text-uppercase py-1">
                                        <i class="small fas fa-info-circle text-black-50" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.longdesc) }}"></i>
                                        <i class="small {{ t.icon }}"></i>
                                        <span class="small"> {{ _(t.title) }}</span>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col">
                                        <div class="h6 mb-0 text-gray-800">{{ t.count }}
                                            <small class="font-weight-light"><br><strong>{{ _("Yesterday: ") }}</strong>{{ t.yesterday_count }}</small>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="row no-gutters align-items-center">
                                        <span class="{{ t.colour }}">
                                            <strong>{{ t.percentage_difference|safe }}</strong>
                                            <i class="{{ t.status_icon }} fa-2x" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.tooltip) }}"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="nav-current-tab">
        <div class="row">
            {% for t in trend_cards %}
                {% if t.type == "current" %}
                    <div class="col-lg">
                        <div class="card border-left-{{ t.colour.split('-')[1] }} shadow h-100" data-toggle="modal" data-target="#ModalCenter_{{ t.id }}">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="h6 mb-0 {{ t.colour }} text-uppercase py-1">
                                        <i class="small fas fa-info-circle text-black-50" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.longdesc) }}"></i>
                                        <i class="small {{ t.icon }}"></i>
                                        <span class="small"> {{ _(t.title) }}</span>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col">
                                        <div class="h6 mb-0 text-gray-800">{{ t.count }}
                                            <small class="font-weight-light"><strong><br>{{ _("Yesterday: ") }}</strong>{{ t.yesterday_count }}</small>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="row no-gutters align-items-center">
                                        <span class="{{ t.colour }}">
                                            <strong>{{ t.percentage_difference|safe }}</strong>
                                            <i class="{{ t.status_icon }} fa-2x" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.tooltip) }}"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade" id="cum" role="tabpanel" aria-labelledby="nav-cum-tab">
        <div class="row">
            {% for t in trend_cards %}
                {% if t.type == "cum" %}
                    <div class="col-lg">
                        <div class="card border-left-{{ t.colour.split('-')[1] }} shadow h-100" data-toggle="modal" data-target="#ModalCenter_{{ t.id }}">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="h6 mb-0 {{ t.colour }} text-uppercase py-1">
                                        <i class="small fas fa-info-circle text-black-50" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.longdesc) }}"></i>
                                        <i class="small {{ t.icon }}"></i>
                                        <span class="small"> {{ _(t.title) }}</span>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col">
                                        <div class="h6 mb-0 text-gray-800">{{ t.count }}
                                            <small class="font-weight-light"><strong><br>{{ _("Yesterday: ") }}</strong>{{ t.yesterday_count }}</small>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="row no-gutters align-items-center">
                                        <span class="{{ t.colour }}">
                                            <strong>{{ t.percentage_difference|safe }}</strong>
                                            <i class="{{ t.status_icon }} fa-2x" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.tooltip) }}"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
