<!-- Cards -->
<div class="row">
    {% for t in trend_cards %}
        <div class="col-xl-3 col-md-6 mb-1">
            <div class="card border-left-{{ t.colour.split('-')[1] }} shadow h-100" data-toggle="modal" data-target="#ModalCenter_{{ t.id }}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="h6 mb-0 {{ t.colour }} text-uppercase py-1">
                            <i class="small fas fa-info-circle text-black-50" data-toggle="tooltip" data-placement="auto" data-original-title="{{ _(t.longdesc) }}"></i>
                            <i class="small {{ t.icon }}"></i>
                            <span class="small"> {{ _(t.title) }}</span>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="h6 mb-0 text-gray-800">{{ t.count }}
                                <small class="font-weight-light">({{ t.today_yesterday_diff }})</small>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="row no-gutters align-items-center">
                            <span class="{{ t.colour }}">
                                <strong>{{ t.percentage_difference|safe }}</strong>
                                <i class="{{ t.status_icon }} fa-2x" data-toggle="tooltip" data-placement="auto" data-original-title="{{ t.tooltip }}"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>