<footer class="py-4 bg-dark mt-auto text-center">
    <div class="container-fluid">
        <span class="text-muted ml-4">
            <a href="https://github.com/fabriziomiano/covidashit" target="_blank">
                <i class="fas fa-code fa-2x mr-lg-5"
                   data-toggle="tooltip"
                   data-placement="auto"
                   data-original-title="{{ _("The repository of this dashboard") }}">
                </i>
            </a>
        </span>
        <span class="text-light">
            <a href="https://fabriziomiano.github.io/" target="_blank">
                <i class="far fa-address-card fa-2x mr-lg-5"
                   data-toggle="tooltip"
                   data-placement="auto"
                   data-original-title="{{ _("Author Personal Page") }}">
                </i>
            </a>
        </span>
        <span class="text-light">
            <a href="http://www.protezionecivile.gov.it/" target="_blank">
                <i class="far fa-newspaper fa-2x mr-lg-5"
                   data-toggle="tooltip"
                   data-placement="auto"
                   data-original-title="{{ _("Civil Protection News Website") }}">
                </i>
            </a>
        </span>
        <span class="text-light">
            <a href="https://github.com/pcm-dpc/COVID-19" target="_blank">
                <i class="fab fa-github fa-2x mr-lg-5"
                   data-toggle="tooltip"
                   data-placement="auto"
                   data-original-title="{{ _("Data source: Civil Protection") }}">
                </i>
            </a>
        </span>
    </div>
</footer>
