<!-- Modals with DataTables -->
{% if breakdown %}
    {% for items in breakdown.items() %}
        <div class="modal fade " id="ModalCenter_{{ items[0] }}" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            {{ _(vars_config[items[0]].title) }}</h5>
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive"
                             id="dataTable_{{ items[0] }}">
                            <table class="table table-bordered" width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th>{{ _("Area") }}</th>
                                    <th>{{ _("Count") }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in breakdown[items[0]] %}
                                    <tr>
                                        <td>
                                            <a href="{{ row.url }}"> {{ row.area }}</a>
                                        </td>
                                        <td>{{ row.count }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{{ _("Close") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}