<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}
{% include 'base/navbar.html' %}

<body style="padding-top: 65px;">

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">{{ status_code }}</h1>
                            <p class="small">{{ error }}</p>
                            <p class="lead">{{ _("Please use this button to report any bug") }}</p>
                            <a class="btn btn-primary" type="submit" href="mailto:fabriziomiano@gmail.com"><i class="fas fa-paper-plane me-2"></i>{{ _("Contact admin") }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>
