<!-- Charts -->
{% if area not in regions %}
    <div class="row">
        <div class="col-12 col-md-12 col-xl-12">
            <div class="card shadow mb-4">
                <div id="chart-admins-per-region" class="container-fluid px-0"
                     style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6 col-xl-6">
        <div class="card shadow mb-4">
            <div id="chart-admins-per-age" class="container-fluid px-0"
                 style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="col-md-6 col-xl-6">
        <div class="card shadow">
            <div id="chart-pie-categories" class="container-fluid px-0"
                 style="border: none; width:100%; height: 450px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<script>
    let totAdmins = {{ tot_admins }};
    let ageCategories = {{ age_chart_data.categories|safe }};
    let adminsPerAgeData = {{ age_chart_data.admins_per_age|safe }};
    let adminsPerCategoryData = {{ cat_chart_data|safe }};
    let area;
    {% if not area %}
        area = "{{ gettext('Italy') }}";
    {% else %}
        area = "{{ area|safe }}";
    {% endif %}
    let adminsPerCategorySeriesName = "% {{ gettext('Vaccinated') }}";
    let adminsPerCategoryTitle = "{{ gettext('Admins per category') }}";
    let adminsPerAgeTitle = "{{ gettext('Admins Per Age range') }}";
    let adminsPerAgeyAxisTitle = "{{ gettext('Counts') }}";

    let subtitle = {
        text: "{{ gettext("Source: <a href='https://github.com/italia/covid19-opendata-vaccini'>Italia Open Data</a>") }}",
    };
    let credits = {
        href: "https://fabriziomiano.github.io",
        text: "{{ gettext("by Fabrizio Miano | Made with Highcharts.com") }}"
    };
    {% if area not in regions %}
        let adminsPerRegionData = {{ region_chart_data.admins_per_region|safe }};
        let adminsPerRegionCategories = {{ region_chart_data.categories|safe }};
        let adminsPerRegionTitle = "{{ gettext('Admins per region') }}";
        let adminsPerRegionyAxisTitle = "{{ gettext('Counts') }}";
    {% endif %}
</script>
