[Unit]
Description=Celery instance to serve covidash
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/covidashit
Environment="PATH=/home/ubuntu/.venvs/covidashit/bin"
ExecStart=/home/ubuntu/.venvs/covidashit/bin/celery -A celery_worker.celery worker

[Install]
WantedBy=multi-user.target
