[Unit]
Description=Gunicorn instance to serve covidash
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/covidashit
Environment="PATH=/home/ubuntu/.venvs/covidashit/bin"
ExecStart=/home/ubuntu/.venvs/covidashit/bin/gunicorn --bind unix:covidash.sock -m 007 wsgi:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
