<!-- Charts -->
<!-- <div class="container-fluid"> -->

    <div class="row py-4">
        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card bg-dark shadow rounded" style="border: none">
                <div id="chart-admins-per-age"
                     class="d-flex justify-content-center align-items-center rounded"
                     style="border: none; width:100%; height: 450px; margin: 0 auto">
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card bg-dark shadow rounded" style="border: none">
                <div id="chart-pie-providers"
                     class="d-flex justify-content-center align-items-center rounded"
                     style="border: none; width:100%; height: 450px; margin: 0 auto">
                </div>
            </div>
        </div>
    </div>

    {% if area not in regions %}

    <div class="row">
        <!-- region multiple choice -->
        <select id="timeseries-select"
                class="chosen chosen-select"
                multiple="multiple"
                data-placeholder="{{ _('Select max 3 regions (default Sicilia)') }}"
                aria-label="region multi select">
            {% for r in regions %}<option value="{{ r }}">{{ r }}</option>{% endfor %}
        </select>
        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card bg-dark shadow rounded" style="border: none">
                <div id="chart-admins-timeseries"
                     class="d-flex justify-content-center align-items-center rounded"
                     style="border: none; width:100%; height: 450px; margin: 0 auto">
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card bg-dark shadow rounded" style="border: none">
                <div id="chart-admins-per-region"
                     class="d-flex justify-content-center align-items-center rounded"
                     style="border: none; width:100%; height: 450px; margin: 0 auto">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

<!-- </div> -->
<script>
    let area;
    {% if not area %}
        area = "{{ gettext('Italy') }}";
    {% else %}
        area = "{{ area|safe }}";
    {% endif %}
    let subtitle = {
        useHTML: true,
        text: "{{ gettext("Source: <a href='https://github.com/italia/covid19-opendata-vaccini'>Italia Open Data</a> | <a href='https://www.istat.it'>ISTAT</a>") }}",
    };
    let credits = {
        href: "https://fabriziomiano.github.io",
        text: "{{ gettext("by Fabrizio Miano | Made with Highcharts.com") }}"
    };
    let caption = {
        text: "{{ gettext('*Hover / tap on a bar to display the administered-dose data') }}"
    };
</script>
