<!-- bar chart race -->

{% block content %}
    <div class="col-xl-6">
        <div class="card border-left-primary shadow mb-3" id="chartCard">
            <div class="card-header"><i class="fas fa-chart-bar mr-2"></i>
                {{ _("Total positive bar chart race") }}
            </div>
            <div class="alert alert-success small" role="alert">
                <i class="fas fa-bullhorn mr-2"></i>
                {{ _("Latest Update:") }} {{ bcr_ts }}
            </div>
            {{ bcr_html|safe }}
        </div>
    </div>
{% endblock %}