<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y0V0RXJNN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-9Y0V0RXJNN');
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ _("COVID-19 Italy outbreak dashboard") }}">
    <meta name="author" content="Fabrizio Miano"/>
    <meta property="og:title" content="{{ _("COVID-19 Italy outbreak") }}"/>
    <meta property="og:url" content="https://www.covidash.it/"/>
    <meta property="og:description" content="{{ _("Data visualization of the COVID-19 outbreak in Italy") }}">
    <meta property="og:image" content="http://www.covidash.it/static/img/virussketch.png"/>
    <meta property="og:image:secure_url" content="https://www.covidash.it/static/img/virussketch.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:image:alt" content="A covid-19 virus sketch"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:locale:alternate" content="it-IT"/>
    <title>{{ page_title }}</title>
    <link rel="apple-touch-icon" href="../../static/img/virussketch.png" sizes="180x180">
    <link rel="icon" href="../../static/img/virussketch.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../static/img/virussketch.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="../../static/img/virussketch.png" color="#563d7c">
    <link rel="icon" href="../../static/img/virussketch.png">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <link href="../../static/css/styles.css" rel="stylesheet"/>
</head>