<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ _('&#128075; Welcome to COVIDash') }} &#127470;&#127481;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("COVIDash is a dashboard that displays the official COVID-19 pandemic Italian data.") }}
                </p>
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("The data are divided in <code>DAILY</code>, <code>CURRENT</code>, and <code>CUMULATIVE</code>.") }}
                </p>
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("The button on the top-left corner and those on the navigation bar can be used to navigate through the areas.") }}
                </p>
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("Some of the cards display the breakdown of the relevant sub-areas when clicked.") }}
                </p>
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("The responsive charts allow for x(y)-axis zoom, and the legend can be used to toggle on/off the series.") }}
                </p>
                <p>
                    <i class="fas fa-info-circle"></i> {{ _("The desktop version provides a search bar that can be used to jump to an area of interest") }}
                </p>
            </div>

            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" onclick=" window.open('https://fabriziomiano.github.io','_blank')">
                        {{ _('Who made this?') }}
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        {{ _("Close") }}
                    </button>
                </div>
            </div>

            <div class="container-fluid">
                <p class="small">{{ _('Made with <span style="color: #e25555;">&#9829;</span> in <a href="https://goo.gl/maps/rk3BGAvv1HmG3NSs8" target="_blank">Catania</a>') }} - v{{ VERSION }}</p>
            </div>
        </div>
    </div>
</div>

