<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog"
     aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content bg-light">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _('Welcome to COVIDashIT 2.0!') }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h5>
                    <i class="far fa-clipboard mr-2"></i>{{ _("Cards") }}
                </h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ _('Click on a card to visualize the breakdown of the relevant regions/provinces') }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Hover or tap the icon ') }}
                        <i class="fas fa-info-circle text-black-50"></i>
                        {{ _(' next to the card title to read the description of the data') }}
                    </li>
                </ul>

                <h5 class="mt-4">
                    <i class="fas fa-chart-line mr-2"></i>{{ _("Charts") }} <span class="badge badge-secondary">{{ _('New') }}</span>
                </h5>
                <ul class="list-group">
                    <li class="list-group-item">
                         {{ _('Click on "7d MAvg" to toggle on/off the 7-day moving average of the daily series') }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Click the name of the series at the bottom of the chart to toggle on/off') }}
                    </li>
                    <li class="list-group-item">
                        {{ _("Drag to zoom in or use pinch to zoom. Use the 'Reset Zoom' button to reset the original chart") }}
                    </li>
                </ul>

                <h5 class="mt-4">
                    <i class="fas fa-search mr-2"></i>{{ _("Search bar (desktop version only)") }}
                </h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ _('Type the name of the area you want to visualize and use autocompletion') }}
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info"
                        onclick=" window.open('https://fabriziomiano.github.io','_blank')">
                    <i class="fas fa-user-circle mr-2"></i>{{ _('Who made this?') }}
                </button>
                <button type="button" class="btn btn-success"
                        data-dismiss="modal">
                    <i class="far fa-thumbs-up mr-2"></i>{{ _("Got it!") }}
                </button>
                <div class="small">
                    <b>{{ _("NOTE:") }}</b> {{ _('Only "Total cases" is provided for the provinces.') }}
                </div>
            </div>

        </div>
    </div>
</div>
