<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog"
     aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content bg-light">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _('Welcome to COVIDashIT !') }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h6><i class="far fa-clipboard mr-2"></i>{{ _("Cards") }}</h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-secondary">{{ _('New') }}</span>
                        {{ _('Added "Daily ICU admissions"') }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Click to drill down the area breakdown') }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Hover or tap the icon ') }}
                        <i class="fas fa-info-circle text-black-50"></i>
                        {{ _(' for the data description') }}
                    </li>
                </ul>

                <h6 class="mt-4">
                    <i class="fas fa-chart-line mr-2"></i>{{ _("Charts") }}
                </h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-secondary">{{ _('New') }}</span>
                        {{ _('Added "Daily ICU admissions"') }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Click on the legend to toggle series visibility') }}
                    </li>
                    <li class="list-group-item">
                        {{ _("Drag/pinch to zoom; use the 'Reset Zoom' button to reset") }}
                    </li>
                </ul>

                <h6 class="mt-4">
                    <i class="fas fa-search mr-2"></i>{{ _("Search bar (desktop only)") }}
                </h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ _('Use autocompletion to jump to an area') }}
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info"
                        onclick=" window.open('https://fabriziomiano.github.io','_blank')">
                    <i class="fas fa-user-circle mr-2"></i>{{ _('Who made this?') }}
                </button>
                <button type="button" class="btn btn-success"
                        data-dismiss="modal">
                    <i class="far fa-thumbs-up mr-2"></i>{{ _("Got it!") }}
                </button>
            </div>
            <div class="container"><p class="small">v{{ VERSION }}</p></div>
        </div>
    </div>
</div>
