<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"
     aria-label="navbar">
    <div class="container-fluid" id="topNav">
        <a class="navbar-brand mb-0 h1" href="/">
            <i class="fas fa-virus text-light me-1"></i>COVIDash.it
        </a>

        <!-- Navigation Buttons -->
        {% if area %}
            <div class="flex-fill btn-group me-lg-2">
                {% if area_index != 0 %}
                    <!-- Icons -->
                    <a class="btn btn-sm btn-primary"
                       href="{{ previous_area_url }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                {% endif %}
                {% if area_index < areas_length-1 %}
                    <a class="btn btn-sm btn-primary"
                       href="{{ next_area_url }}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
            {% if area in regions %}
                {% if view_type == 'vaccines' %}
                    <a class="btn btn-sm btn-secondary"
                       href={{ url_for('vaccines.national_vax_view') }}>
                        <i class="fas fa-level-up-alt"></i>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-secondary"
                       href={{ url_for('pandemic.national_view') }}>
                        <i class="fas fa-level-up-alt"></i>
                    </a>
                {% endif %}
            {% elif area in provinces %}
                <a class="btn btn-sm btn-secondary"
                   href="/regions/{{ region }}">
                    <i class="fas fa-level-up-alt"></i>
                </a>
            {% endif %}
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon small"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a id="pandemicNavLink" class="nav-link"
                       aria-current="page" href="/">
                        <i class="fas fa-head-side-mask me-2"></i>{{ _("Pandemic") }}
                    </a>
                </li>

                <li class="nav-item">
                    <a id="vaccinesNavLink" class="nav-link"
                       aria-current="page"
                       href="{{ url_for('vaccines.national_vax_view') }}">
                        <i class="fas fa-syringe me-2"></i>{{ _("Vaccines") }}
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#"
                       data-bs-toggle="modal" data-bs-target="#welcomeModal">
                        <i class="fas fa-info-circle me-2"></i>Info
                    </a>
                </li>
            </ul>

            <!-- Nav search bar -->
            <form class="d-flex d-sm-flex">
                <div class="input-group">
                    <input id="searchInput" type="search" class="form-control"
                           placeholder="{{ _("Search...") }}"
                           aria-label="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</nav>
