<!-- Navbar -->
<nav class="navbar fixed-top navbar-dark navbar-expand bg-dark">
    <a class="navbar-brand" href="/"><img src="../../static/img/virussketch_32.png" width="24" height="24" alt=""> COVIDash</a>

    {% if area %}
        <!-- Navigation Buttons -->
        {% if area_index != 0 %}
            <div class="btn-group" role="group" aria-label='{{ _("Previous in alphabetical order") }}'>
                <button id="previousAreaButton" class="btn btn-sm btn-raised btn-info" onclick='window.location.href="{{ previous_area_url }}"'>
                    <i class="fas fa-chevron-left"></i>
                </button>
            </div>
        {% endif %}
        {% if area_index < areas_length-1 %}
            <div class="btn-group mr-1" role="group" aria-label="{{ _("Next in alphabetical order") }}">
                <button id="nextAreaButton" class="btn btn-sm btn-raised btn-info" onclick='window.location.href="{{ next_area_url }}"'>
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        {% endif %}

        {% if area in regions %}
        <button class="btn btn-sm btn-raised btn-primary" type="submit" onclick='window.location.href="/"'>
            <i class="fas fa-level-up-alt"></i>
        </button>
        {% elif area in provinces %}
            <button class="btn btn-sm btn-raised btn-primary" type="submit" onclick='window.location.href="/regions/{{ region }}"'>
                <i class="fas fa-level-up-alt"></i>
            </button>
        {% endif %}
    {% endif %}

    <!-- Navbar Search-->
    <form id="searchForm" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input id="searchInput" class="form-control" type="text" placeholder="{{ _("Search region/province") }}" aria-label="Search"/>
            <div class="input-group-append">
                <button id="searchBtn" class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <!-- Navbar Extra -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item">
            <button class="btn btn-sm btn-raised btn-dark" data-toggle="modal" data-target="#welcomeModal">
                <i class="fas fa-info-circle"></i>
            </button>
        </li>
    </ul>

</nav>