<!-- Sidebar nav -->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading text-info">{{ _("Usage") }}</div>
                <a class="nav-link" href="#" data-toggle="modal" data-target="#welcomeModal">
                    <div class="sb-nav-link-icon text-info"><i class="fas fa-info-circle"></i></div>{{ _('How to') }}
                </a>

                <div class="sb-sidenav-menu-heading text-success">{{ _('Visualization') }}</div>
                <a class="nav-link" href="/">
                    <div id="nationalDataDiv" class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>{{ _('National Data') }}
                </a>

                <a id="areasCollapse" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div id="areasDiv" class="sb-nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>{{ _("Areas") }}
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion small" id="sidenavAccordionPages">
                        {% for region in italy_map %}
                            {% if italy_map[region]|length > 0 %}
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                   data-target="#pagesCollapseAuth{{ region.split()[0] }}"
                                   aria-expanded="false" aria-controls="pagesCollapseAuth{{ region }}">
                                    {{ region }}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                            {% else %}
                                <a class="nav-link" href="/regions/{{ region }}">
                                    <div class="sb-nav-link-icon"></div>{{ region }}
                                </a>
                            {% endif %}

                                <div class="collapse" id="pagesCollapseAuth{{ region.split()[0] }}"
                                     aria-labelledby="headingOne"
                                     data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/regions/{{ region }}">{{ _("- Regional -") }}</a>
                                        {% for province in italy_map[region] %}
                                            <a class="nav-link" href="/provinces/{{ province }}">{{ province }}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                        {% endfor %}
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">{{ _('Author') }}</div>
                <a class="nav-link"
                   href="https://fabriziomiano.github.io/"
                   target="_blank">
                    <div class="sb-nav-link-icon"><i class="far fa-address-card"></i></div>{{ _('Personal Website') }}
                </a>

            </div>
        </div>


        <!-- footer sidebar-->
        <div class="sb-sidenav-footer">
            <div class="small">{{ _('Days since "Critical areas"') }}: {{ days_since_critical_areas }}</div>
            <div class="small">{{ _('Days in "Phase 3"') }}: {{ days_in_phase3 }}</div>
            <div class="small">{{ _('Days in "Phase 2"') }}: {{ days_in_phase2 }}</div>
            <div class="small">{{ _('Days in Lockdown') }}: {{ days_in_lockdown }}</div>
            <hr class="mt-0">
            <div class="container">
                <form class="justify-content-center" action="https://www.paypal.com/donate" method="post" target="_blank">
                    <input type="hidden" name="hosted_button_id" value="4LSC44UTDTDWA" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
    </nav>
</div>
