<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog"
     aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title me-1">{{ _('&#128075; Welcome to COVIDash') }} </h5>
                <img src="{{ url_for('static', filename="img/flag_it.png") }}" alt="flag-it" width="20"/>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="lead">
                    {{ _("A dashboard that displays the official COVID-19 Italian outbreak and vaccines data") }}
                </p>
                <p>
                    <span class="badge badge-pill bg-danger me-2">{{ _("New!") }}</span>
                    <i class="fas fa-syringe me-2"></i>{{ _("Daily administrations trend;") }}
                </p>
                <p>
                    <i class="fas fa-chart-pie me-2"></i>{{ _("Categories of people vaccinate;") }}
                </p>
                <p>
                    <i class="fas fa-chart-pie me-2"></i>{{ _("Administrations per provider;") }}
                </p>
                <p>
                    <i class="fas fa-user-shield me-2"></i>{{ _("Percentage of people vaccinated based on the second dose;") }}
                </p>
                <p>
                    <i class="fas fa-syringe me-2"></i>{{ _("Vaccine data <a href='/vaccines'><strong>here</strong></a>;") }}
                </p>
                <p>
                    <i class="fas fa-mouse-pointer me-2"></i>{{ _("Use the navigation buttons on the navigation bar when in the regional/provincial views;") }}
                </p>
                <p>
                    <i class="fas fa-search me-2"></i>{{ _("Use the search bar to jump to the pandemic dashboard of a desired area;") }}
                </p>
                <p>
                    <i class="fas fa-list-ul me-2"></i>{{ _("Some cards, where possible, can be expanded to visualize the breakdown of the sub-areas;") }}
                </p>
                <p>
                    <i class="fas fa-table me-2"></i>{{ _("The data are divided in <code>DAILY</code>, <code>CURRENT</code>, and <code>CUMULATIVE</code>;") }}
                </p>
                <p>
                    <i class="fas fa-search-plus me-2"></i>{{ _("The interactive charts allow to zoom in along the x- and y-axis;") }}
                </p>
                <p>
                    <i class="fas fa-toggle-on me-2"></i>{{ _("The chart legend can be used to toggle on/off the data series;") }}
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        onclick=" window.open('https://fabriziomiano.github.io','_blank')">
                    {{ _('Who made this?') }}
                </button>
                <button type="button" class="btn btn-success"
                        data-bs-dismiss="modal">
                    {{ _("Close") }}
                </button>
            </div>

            <div class="container-fluid">
                <p class="mt-0 mb-0">
                    <small>
                        {{ _('Made with <span style="color: #e25555;">&#9829;</span> in
                        <a href="https://goo.gl/maps/rk3BGAvv1HmG3NSs8" target="_blank">Catania</a>
                        by <a href=https://fabriziomiano.github.io target=_blank> Fabrizio Miano</a>') }}
                        &nbsp;|&nbsp;
                        <a href='https://github.com/fabriziomiano/covidashit'
                           target='_blank'>v{{ VERSION }}</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
