<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}
{% include 'base/navbar.html' %}

<body style="padding-top: 65px;">

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-error" src="../../static/img/error-404-monochrome.svg"/>
                            <p class="small">{{ error }}</p>
                            <a href="/"><i class="fas fa-home me-2"></i>Return to Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>
