{% extends "layout.html" %}

{% block content %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!-- Breadcrumb -->
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item active">
                        <a class="h4 font-weight-bolder">
                            {{ dashboard_title }}
                        </a>
                        <br>
                        <div class="text-sm text-info">
                            <i class="fas fa-bullhorn mr-1"></i>
                            {{ _("Latest Update:") }} {{ latest_update }}
                        </div>
                        {% if area not in provinces %}
                            <div class="text-sm text-danger">
                                <i class="fas fa-vial mr-1"></i>
                                {{ _("Positive swabs percentage:") }} {{ positive_swabs_percentage }}
                            </div>
                        {% endif %}
                    </li>
                </ol>

                {% if area in provinces %}
                    <div class="alert alert-warning font-weight-bold"
                         role="alert">
                        {{ _('Only the "Total Cases" data is shown') }}
                    </div>
                {% endif %}

                {% include 'dashboard/cards.html' %}
                {% include 'dashboard/charts.html' %}
                {% include 'dashboard/modal_tables.html' %}
                {% if area not in provinces %}
                    {% include 'dashboard/barChartRace.html' %}
                {% endif %}

            </div>
        </main>

        {% include 'dashboard/footer.html' %}

    </div>

{% endblock %}
