{% extends "layout.html" %}

{% block content %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!-- Breadcrumb -->
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item text-dark">
                        <a class="h4 font-weight-bolder">{{ dashboard_title }}</a>
                        <div class="text-info">
                            <small><i class="fas fa-bullhorn mr-1"></i>{{ _("Latest Update:") }} <strong>{{ latest_update }}</strong></small>
                        </div>
                        {% if area not in provinces %}
                            <div class="text-danger">
                                <small><i class="fas fa-vial mr-1"></i>
                                {{ _("Positive swabs percentage:") }} <strong>{{ positive_swabs_percentage }}</strong></small>
                            </div>
                        {% endif %}
                    </li>
                </ol>

                {% if notes %}
                    <div class="small alert alert-info">
                        <strong>{{ _("Notes:") }}</strong> {{ notes }}
                    </div>
                {% endif %}

                {% if area in provinces %}
                    <div class="small alert alert-warning font-weight-bold" role="alert">
                        {{ _('Only the "Total Cases" data is shown') }}
                    </div>
                {% endif %}

                {% include 'dashboard/cards.html' %}
                {% include 'dashboard/charts.html' %}
                {% include 'dashboard/modal_tables.html' %}
                {% if area not in provinces %}
                    {% include 'dashboard/barChartRace.html' %}
                {% endif %}

            </div>
        </main>
    </div>

{% endblock %}
