{% extends "pandemic/layout.html" %}

{% block content %}
    <main class="mt-2">

        <!-- Back to top button -->
        <a class="btn btn-primary" id="back2Top" title="Back to top"
           href="#">
            <i class="fas fa-chevron-up"></i>
        </a>

        <!-- Top-page data -->
        <div class="container-fluid bg-dark text-light">

            <!-- Notes -->
            {% if notes %}
                <div class="small alert alert-info alert-dismissible fade show mb-2">
                    <i class="fas fa-info-circle"></i> {{ notes }}
                    <button type="button" class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="row align-items-center">

                {% if area not in provinces %}
                    {% set width = 6 %}
                {% else %}
                    {% set width = 12 %}
                {% endif %}

                <div class="col-12 col-sm-12 col-md-{{ width }} col-lg-{{ width }}">
                    <div class="card bg-dark border-left-info text-center shadow">
                        <div class="card-body">
                            <!-- Page heading -->
                            <h2>
                                <i class="fas fa-head-side-mask me-2"></i>{{ dashboard_title }}
                            </h2>

                            <!-- population -->
                            {% if area not in provinces %}
                                <p class="small mb-0">
                                    <i class="fas fa-users me-2"></i>Pop:
                                    <strong>{{ population }}</strong>
                                </p>
                            {% endif %}

                            <!-- Positive Rate -->
                            {% if positivity_idx %}
                                <p class="small mb-0">
                                    <i class="fas fa-vial me-2"></i>{{ _("Positive Rate: ") }}<strong>{{ positivity_idx }}</strong>
                                </p>
                            {% endif %}

                            <!-- Latest update -->
                            <p class="small mb-0 text-info">
                                <i class="fas fa-bullhorn me-2"></i>{{ _("Latest update: ") }}
                                <strong>{{ latest_update }}</strong>
                            </p>

                        </div>
                    </div>
                </div>

                {% if area not in provinces %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                        {% if not area or region_provinces | length > 0 %}
                            <!-- Area accordion -->
                            <div class="accordion mb-2" id="areasAccordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header"
                                        id="flush-headingOne">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne"
                                                aria-expanded="false"
                                                aria-controls="flush-collapseOne">
                                            {% if area in regions %}
                                                {{ _("Provinces") }}{% else %}
                                                {{ _("Regions") }}{% endif %}
                                        </button>
                                    </h2>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                {% endif %}
            </div>

            <hr class="mt-1 mb-1">

            <!-- Accordion items -->
            <div id="flush-collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne"
                 data-bs-parent="#areasAccordion">
                <div class="accordion-body">
                    {% if not area %}
                        <div class="btn-toolbar"
                             role="toolbar"
                             aria-label="Toolbar with button groups">
                            {% for r in regions %}
                                <div class="btn-group me-1 mb-1"
                                     role="group">
                                    <a class="btn btn-sm btn-secondary text-uppercase"
                                       href="/regions/{{ r }}">{{ r }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% elif area in regions %}
                        <div class="btn-toolbar"
                             role="toolbar"
                             aria-label="Toolbar with button groups">
                            {% for p in region_provinces %}
                                <div class="btn-group me-1 mb-1"
                                     role="group">
                                    <a class="btn btn-sm btn-secondary text-uppercase"
                                       href="/provinces/{{ p }}">{{ p }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Cards and Charts -->
        <div class="container-fluid">
            {% include 'pandemic/cards-charts.html' %}
        </div>

        {% include 'base/footer.html' %}

    </main>
{% endblock %}
