{% extends "vaccines/layout.html" %}

{% block content %}
    <main class="mt-2">
        <a class="btn btn-primary" id="back2Top" title="Back to top"
           href="#">
            <i class="fas fa-chevron-up"></i>
        </a>

        <!-- Top-page data -->
        <div class="container-fluid bg-dark text-light">

            <div class="row align-items-center">

                <div class="col- col-md-6 col-lg-6">
                    <div class="card bg-dark border-left-info text-center shadow">
                        <div class="card-body">
                            <!-- Page heading -->
                            <h2>
                                <i class="fas fa-syringe me-2"></i>{{ dashboard_title }}
                            </h2>

                            <!-- population -->
                            <p class="small mb-0">
                                <i class="fas fa-users me-2"></i>{{ _("Population:") }}
                                <strong>{{ population }}</strong>
                            </p>


                            <!-- Latest update -->
                            <p class="small mb-0 text-info">
                                <i class="fas fa-bullhorn me-2"></i>{{ _("Latest update: ") }}
                                <strong>{{ latest_update }}</strong>
                            </p>
                            <hr class="mt-0">
                            <!-- progress bar -->
                            <p class="small mb-0">
                                <i class="fas fa-user-shield me-2"></i>{{ _("Pop. vaccinated ") }}(%)
                            </p>
                            <div class="progress bg-light mb-1"
                                 style="height: 15px;">

                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                     role="progressbar"
                                     aria-valuenow="{{ perc_pop_vax.booster }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.booster|round(1) }}%
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar"
                                     aria-valuenow="{{ perc_pop_vax.second }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ perc_pop_vax.second - perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.second|round(1) }}%
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                     role="progressbar"
                                     aria-valuenow="{{ perc_pop_vax.first }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ perc_pop_vax.first - perc_pop_vax.second - perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.first|round(1) }}%
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col- col-md-6 col-lg-6">

                    <!-- Area accordion -->
                    <div class="accordion mb-2" id="areasAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header"
                                id="flush-headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    {{ _("Regions") }}
                                </button>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="mt-0 mb-2">

            <!-- Accordion items -->
            <div id="flush-collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne"
                 data-bs-parent="#areasAccordion">
                <div class="accordion-body">
                    <div class="btn-toolbar"
                         role="toolbar"
                         aria-label="Toolbar with button groups">
                        {% for r in regions %}
                            <div class="btn-group me-1 mb-1"
                                 role="group">
                                <a class="btn btn-sm btn-secondary text-uppercase"
                                   href="/vaccines/{{ r }}">{{ r }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Cards -->
            {% include 'vaccines/cards.html' %}

            <!-- Charts -->
            {% include 'vaccines/charts.html' %}

        </div>

        {% include 'base/footer.html' %}

    </main>

{% endblock %}
