{% extends "vaccines/layout.html" %}

{% block content %}
    <main class="mt-2">
        <a class="btn btn-primary" id="back2Top" title="Back to top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>

        <!-- Top-page data -->
        <div class="container-fluid bg-dark text-light">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-6">
                    <!-- Area selectors -->
                    <select class="form-select form-select-sm bg-dark text-light" aria-label=".form-select-sm region"
                            onchange="location = this.value">
                        {% if not area %}
                            <option selected>{{ _("Select region...") }}</option>
                        {% endif %}
                        {% for r in regions %}
                            {% if area and r == area %}
                                <option selected value="/vaccines/{{ r }}">{{ r }}</option>
                            {% else %}
                                <option value="/vaccines/{{ r }}">{{ r }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <!-- Top page card -->
                    <div class="card bg-dark text-center shadow">
                        <div class="card-body">
                            <!-- Page heading -->
                            <h2>
                                <i class="fas fa-syringe me-2"></i>{{ dashboard_title }}
                            </h2>

                            <!-- population -->
                            <p class="small mb-0">
                                <i class="fas fa-users me-2"></i>{{ _("Population:") }}
                                <strong>{{ population }}</strong>
                            </p>

                            <!-- Latest update -->
                            <p class="small mb-0 text-warning">
                                <i class="fas fa-bullhorn me-2"></i>{{ _("Latest update: ") }}
                                <strong>{{ latest_update }}</strong>
                            </p>

                        </div>
                    </div>
                </div>

                <!-- Population vaccinated -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card bg-dark text-center shadow">
                        <div class="card-body">
                            <!-- progress bar -->
                            <p class="mb-0">
                                <i class="fas fa-user-shield me-2"></i>{{ _("Population vaccinated") }}<br>
                                <span class="small text-primary">{{ _("first") }}</span> |
                                <span class="small text-success">{{ _("second") }}</span> |
                                <span class="small text-danger">{{ _("booster") }}</span>
                            </p>
                            <div class="progress bg-light mb-1" style="height: 15px;">

                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                     role="progressbar" aria-valuenow="{{ perc_pop_vax.booster }}" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{ perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.booster|round(1) }}%
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar" aria-valuenow="{{ perc_pop_vax.second }}" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ perc_pop_vax.second - perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.second|round(1) }}%
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                     role="progressbar" aria-valuenow="{{ perc_pop_vax.first }}" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ perc_pop_vax.first - perc_pop_vax.second - perc_pop_vax.booster }}%">
                                    {{ perc_pop_vax.first|round(1) }}%
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr class="mt-0 mb-2">

            <!-- Cards -->
            {% include 'vaccines/cards.html' %}

            <!-- Charts -->
            {% include 'vaccines/charts.html' %}

        </div>

        {% include 'base/footer.html' %}

    </main>

{% endblock %}