<!-- Cards -->
<div class="row align-items-center">
    {% for t in trends %}
        <div class="col-12 col-lg-4 col-md-4 mb-2">
                            <div class="card bg-dark border-left-{{ t.colour.split('-')[1] }} shadow text-{{ t.colour.split('-')[1] }} text-center">
                <div class="card-body">
                    <div class="h5 mb-1 text-uppercase">
                        <i class="{{ t.icon }} me-1"></i>{{ _(t.title) }}
                    </div>
                    <div>
                        {{ t.count }}
                        <span class="h6 text-gray-800"><i class="{{ t.status_icon }}"></i></span>
                        <span class="h6 text-gray-800">{{ t.percentage|safe }}</span>
                    </div>

                    <p class="small mb-0">
                        <small class="font-weight-light">{{ _("Yesterday: ") }}&nbsp;{{ t.yesterday_count }}</small>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>