<!-- Charts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card shadow" style="border: none">
                <div class="row bg-dark h-100 justify-content-center align-items-center">
                    <div id='vax-age-loading-spinner'
                         class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div id="chart-admins-per-age"
                         style="border: none; width:100%; height: 450px; margin: 0 auto">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card shadow" style="border: none">
                <div class="row bg-dark h-100 justify-content-center align-items-center">
                    <div id='vax-provider-loading-spinner'
                         class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div id="chart-pie-providers"
                         style="border: none; width:100%; height: 450px; margin: 0 auto">
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% if area not in regions %}
        <div class="row align-items-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card shadow" style="border: none">
                    <!-- multiple dropdown -->
                    <select id="timeseries-select" class="chosen"
                            multiple="multiple"
                            data-placeholder="{{ _("Select one or more regions") }}"
                            aria-label="region multi select">
                        {% for r in regions %}
                            <option value="{{ r }}">{{ r }}</option>
                        {% endfor %}
                    </select>

                    <div class="row bg-dark h-100 justify-content-center align-items-center">
                        <div id='vax-timeseries-loading-spinner'
                             class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <div id="chart-admins-timeseries"
                             style="border: none; width:100%; height: 450px; margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card shadow" style="border: none">
                    <div class="row bg-dark h-100 justify-content-center align-items-center">
                        <div id='vax-region-loading-spinner'
                             class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <div id="chart-admins-per-region"
                             style="border: none; width:100%; height: 450px; margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<script>
    {# common #}
    let area;
    {% if not area %}
        area = "{{ gettext('Italy') }}";
    {% else %}
        area = "{{ area|safe }}";
    {% endif %}
    let subtitle = {
        useHTML: true,
        text: "{{ gettext("Source: <a href='https://github.com/italia/covid19-opendata-vaccini'>Italia Open Data</a> | <a href='https://www.istat.it'>ISTAT</a>") }}",
    };
    let credits = {
        href: "https://fabriziomiano.github.io",
        text: "{{ gettext("by Fabrizio Miano | Made with Highcharts.com") }}"
    };
    let caption = {
        text: "{{ gettext('*Hover / tap on a bar to display the administered-dose data') }}"
    }

</script>
